/* Set main properties of the page;
    - set page background color;
    - set page font. */
html, body {
    background-color: #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

/* Custom styles */
.class * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clock {
    border: 1px solid RoyalBlue;
    border-radius: 1em;
    box-shadow: inset 0 0 0.75em RoyalBlue;
    margin: 1em auto;
    padding: 1em;
    min-width: 200px;
    width: -moz-fit-content;
    width: fit-content;
}

.clock__display,
.clock__controls {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 4rem;
    text-align: center;
}

.clock__display[data-state="inactive"] {
    color: grey;
}

.clock__display[data-state="active"] {
    color: black;
}

.clock__controls--button {
    border: 0;
    border-radius: 1rem;
    height: 2rem;
    margin: 0.25rem;
    padding: 0.5rem 0.5rem;
    min-width: 6rem;
    min-height: 6rem;
    background: #e5461e;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.clock__controls--button:hover,
.clock__controls--button:focus {
    background: #cf3e1a;
    box-shadow: 0 0 5px silver;
}

.clock__controls--button:active {
    transform: translateY(2px);;
}